{% extends 'base/master.html' %}
{% block 'title' %}Dashboard{% endblock %}
{% block 'body' %}

<section class="page-heading">
	<div class="col-md-12">
		<h1><b>Welcome {{user.username}}</b></h1>
	</div>
</section>

<div class="main" role="main">
	<section class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="box">
						<h3>To-Do List</h3>
							<form action="#" method="POST" role="form">
								{{form}}
								{% csrf_token %}
								<button type="submit" class="btn btn-primary btn-inline">Add</button>&nbsp; &nbsp; &nbsp;
							</form>
					</div>
				</div>

				<div class="col-md-6">
					<div class="box">
						<h3><b>Task you've added</b></h3>
						<ol><b>
						{% for d in details %}
						<li>{{d.title}} must be completed by {{d.date_to_complete}}  <a href="{% url 'taskdelete' d.id %}"><i class="fa fa-trash"></i> </a><br></li>
						{% endfor %}
						</b></ol>

					</div>
				</div>

			</div>
		</div>
	</section>
</div>
{% endblock %}


