{% extends 'base/master.html' %}
{% block 'title' %}Home{% endblock %}
{% block 'body' %}

<section class="page-heading">
	<div class="col-md-12">
		<h1>Home</h1>
	</div>
</section>

<div class="main" role="main">
	<section class="page-content">
		<div class="container">

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="box">
						<h3>To-Do List</h3>
						<h4>To-Do List is a platform where you can easily add the task you want to perform in upcoming dask it reminds you of the task that you want to perform. Simply signup and login and hurray!!! there you go simply add the task and modify as per your demand</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}


